DATABASE_URL="postgresql://app:app@localhost:5432/telegram_system?schema=public"
API_PORT=4000
JWT_SECRET="change_me"
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
BOT_TOKEN_ENCRYPTION_KEY=""
TELEGRAM_UPDATES_MODE="off"
TELEGRAM_SYNC_ENABLED="true"
TELEGRAM_SYNC_INTERVAL_MINUTES="5"
TELEGRAM_DAILY_ANALYTICS_SYNC_ENABLED="true"

TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""

FRONTEND_URL=""

B2_KEY_ID=
B2_APP_KEY=
B2_BUCKET_NAME==
B2_ENDPOINT=
